<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <a class="btn btn-link" ui-sref="lab({id:at.project_id})">Return</a>

    <!-- list of tokens -->
    <h3>Available Tokens</h3>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Token</th>
              <th>Expiration date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="token in at.tokens | orderBy:'expiration_date'">
              <td style="font-family: monospace;">{{token.token}}</td>
              <td>{{token.expiration_date | date:medium}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3>Survey URL</h3>
    <div class="row">
      <div class="col-sm-12 form-inline">
        <select class="form-control" ng-model="at.branch" ng-change="at.getCommits()">
          <option ng-repeat="branch in at.branches"
            ng-value="branch.name">{{branch.name}}</option>
        </select>
        <select class="form-control" ng-model="at.commit">
          <option ng-repeat="commit in at.commits"
            ng-value="commit.short_id">{{commit.short_id}}</option>
        </select>
        <button role="button" class="btn btn-primary"
          ng-click="at.generateSurveyUrls()">
          Generate survey urls
        </button>
      </div>
      <div class="col-sm-12">
        <textarea class="form-control survey-urls" rows="10"
          ng-model="at.urls"></textarea>
      </div>
    </div>

    <!-- Generate tokens -->
    <h3>Generate Tokens</h3>
    <div class="row">
      <div class="col-sm-12 form-inline">
        <div class="form-group">
          <label for="n">Amount</label>
          <input type="number" class="form-control"
            ng-model="at.n" max="1000">
        </div>
        <div class="form-group">
          <label for="date">Expire in</label>
          <div class="input-group">
            <input type="text" class="form-control"
              uib-datepicker-popup ng-model="at.expire"
              is-open="at.dateopen" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
                ng-click="at.dateopen = !at.dateopen">
                <i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <button type="button" class="btn btn-primary"
          ng-click="at.new_tokens()">Generate Tokens</button>
      </div>
    </div>

    <h3>Remove Expired Tokens</h3>
    <div class="row">
      <div class="col-sm-12">
        {{at.expired.length}} expired tokens
        <button type="button" class="btn btn-default"
          ng-click="at.deleteExpiredToken()">Delete Tokens</button>
      </div>
    </div>

  </div>

</div>

<style>
.survey-urls {
  font-family: monospace;
  font-size: smaller;
}
</style>
