<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <a class="btn btn-link" ui-sref="lab({id:se.project_id})">Return</a>

    <!-- select branch name (and) commit id -->
    <div class="row">
      <div class="col-sm-12 form-inline">
        <select class="form-control" ng-model="se.branch" ng-change="se.getCommits()">
          <option ng-value="">All</option>
          <option ng-repeat="branch in se.branches"
            ng-value="branch.name">{{branch.name}}</option>
        </select>
        <select class="form-control" ng-model="se.commit">
          <option ng-value="">All</option>
          <option ng-repeat="commit in se.commits"
            ng-value="commit.short_id">{{commit.short_id}}</option>
        </select>
        <button role="button" class="btn btn-primary"
          ng-click="se.getLabFeedbacks()">
          Select
        </button>
      </div>
    </div>

    <div class="row" ng-if="se.results">
      <div class="col-sm-12" style="padding-bottom: 15px; padding-top:15px;">
        {{se.results.length}} results found
      </div>
      <!-- export to git -->
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Export to Git
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" class="form-control"
                    placeholder="Commit message" maxlength="256"
                    ng-model="se.commit_msg" id="commit_msg">
                  <span class="input-group-btn">
                    <button role="button" class="btn btn-primary"
                      ng-click="se.export_git()">
                      Commit
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-sm-12" ng-if="se.git_success">
                <p class="text-success">Survey results commited to Git</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- download from browser as json -->
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Export to JSON
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" class="form-control"
                    placeholder="filename" maxlength="64"
                    ng-model="se.filename" id="filename">
                  <span class="input-group-btn">
                    <button role="button" class="btn btn-primary"
                      ng-click="se.export_json()">
                      Download
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
