<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-link" ui-sref="lab({id:cs.project_id})">Return</a>
      </div>
    </div>

    <p>1. How difficult was the exercise for you?</p>
    <div class="row well" style="padding-bottom: 15px;">
      <div class="col-sm-2 " style="margin-top: 10px;">
        <label>Too Easy</label>
      </div>
      <div class="col-sm-4 text-center">
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s1" value="1">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s1" value="2">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s1" value="3">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s1" value="4">
        </label>
      </div>
      <div class="col-sm-3" style="margin-top: 10px;">
        <label>Too Difficult</label>
      </div>
    </div>

    <p>2. How interesting was the exercise for you?</p>
    <div class="row well" style="padding-bottom: 15px;">
      <div class="col-sm-2 " style="margin-top: 10px;">
        <label>Very boring</label>
      </div>
      <div class="col-sm-4 text-center">
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s2" value="1">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s2" value="2">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s2" value="3">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s2" value="4">
        </label>
      </div>
      <div class="col-sm-3" style="margin-top: 10px;">
        <label>Very interesting</label>
      </div>
    </div>

    <p>3. How long was the exercise for you?</p>
    <div class="row well" style="padding-bottom: 15px;">
      <div class="col-sm-2 " style="margin-top: 10px;">
        <label>Too short</label>
      </div>
      <div class="col-sm-4 text-center">
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s3" value="1">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s3" value="2">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s3" value="3">
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="cs.survey.s3" value="4">
        </label>
      </div>
      <div class="col-sm-3" style="margin-top: 10px;">
        <label>Too Long</label>
      </div>
    </div>

    <p>4. How much time did you spend on the pre-lab (roughly)?</p>
    <div class="row well" style="padding-bottom: 15px;">
      <form class="form-inline col-sm-8 ">
        <div class="form-group">
          <input type="number" class="form-control"
            oninput="this.value = Math.abs(this.value)"
            min="1" max="100" ng-model="cs.survey.s4">
        </div>
        <span>hours</span>
      </form>
    </div>

    <p>5. How much time did you spend on the lab (roughly)?</p>
    <div class="row well" style="padding-bottom: 15px;">
      <form class="form-inline col-sm-8 ">
        <div class="form-group">
          <input type="number" class="form-control"
            oninput="this.value = Math.abs(this.value)"
            min="1" max="100" ng-model="cs.survey.s5">
        </div>
        <span>hours</span>
      </form>
    </div>

    <p>6. Rate this lab</p>
    <div class="row well" style="padding-bottom: 15px;">
      <form class="form-inline col-sm-8 ">
        <span uib-rating
          state-on="' fa fa-lg fa-star'"
          state-off="'fa fa-lg fa-star-o'"
          ng-model="cs.survey.rating" max="5"></span>
      </form>
    </div>

    <p>7. Do you have any particular feedback?
      What did you particularly like or dislike?
      What could we improve? Let us know</p>
    <div class="row well" style="padding-bottom: 15px;">
      <form class="form col-sm-9 ">
        <div class="form-group">
          <textarea class="form-control" rows="5"
            maxlength="1024"
            ng-model="cs.survey.comment"></textarea>
        </div>
      </form>
    </div>

    <div class="row" style="padding-top: 15px;">
      <button role="button" class="btn btn-primary pull-right"
        ng-click="cs.submitSurvey()">Submit</button>
    </div>

  </div>

</div>
