<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <!-- if token is valid show verify, otherwise show error message -->
    <div class="row">
      <div class="col-sm-12" ng-if="!sc.invalid">
        <p>You are about to participate in survey for:</p>
        <h2>{{sc.info.name}}</h2>
        <button type="button" ng-click="sc.confirm()"
          class="btn btn-primary">Confirm</button>
      </div>
      <div class="col-sm-12" ng-if="sc.invalid">
        <p class="text-info">Your token is invalid</p>
      </div>
    </div>

  </div>

</div>
