<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-link" ui-sref="lab({id:sr.project_id})">Return</a>
      </div>
    </div>

    <!-- show general result, select branch/commit -->
    <h3>Survey Result</h3>
    <div class="row" style="padding-bottom: 15px;">
      <div class="col-sm-12">
        <dl class="">
          <dt>Lab name</dt>
          <dd>{{sr.info.name}}</dd>
          <dt>Total participants</dt>
          <dd>{{sr.feedback.length}}</dd>
        </dl>
      </div>
      <div class="col-sm-12 form-inline">
        <select class="form-control" ng-model="sr.branch" ng-change="sr.getCommits()">
          <option ng-value="">All</option>
          <option ng-repeat="branch in sr.branches"
            ng-value="branch.name">{{branch.name}}</option>
        </select>
        <select class="form-control" ng-model="sr.commit">
          <option ng-value="">All</option>
          <option ng-repeat="commit in sr.commits"
            ng-value="commit.short_id">{{commit.short_id}}</option>
        </select>
        <button role="button" class="btn btn-primary" ng-click="sr.refresh()">
          Select
        </button>
      </div>
    </div>

    <!-- stacked horizontal bar charts for question 1, 2, 3 and ratings-->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Questions
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <canvas id="combined_bar" width="500" height="500"></canvas>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="detail">Show detail</label>
                <select id="detail" class="form-control"
                  ng-model="sr.show" ng-change="sr.selectDetail()">
                  <option value="s1">Question 1</option>
                  <option value="s2">Question 2</option>
                  <option value="s3">Question 3</option>
                  <option value="rating">Rating</option>
                </select>
                <select id="detail_type" class="form-control"
                  ng-model="sr.detail_type" ng-change="sr.selectDetail()">
                  <option value="bar">Bar chart</option>
                  <option value="pie">Pie chart</option>
                </select>
              </div>
            </div>
          </div>
          <!-- per question bar/pie chart-->
          <div class="row">
            <div class="col-sm-12">
              <p>{{sr.detail_heading}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <dl class="dl-horizontal" ng-if="sr.show">
                <dt>Average:</dt>
                <dd>{{sr.detail.avg | number:2}}</dd>
                <dt>Median:</dt>
                <dd>{{sr.detail.median}}</dd>
                <dt>Max:</dt>
                <dd>{{sr.detail.max}}</dd>
                <dt>Min:</dt>
                <dd>{{sr.detail.min}}</dd>
                <dt>Standard Deviation:</dt>
                <dd>{{sr.detail.std | number:2}}</dd>
              </dl>
            </div>
            <div class="col-sm-12 col-md-6">
              <canvas id="detail_chart" width="150" height="150"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- histogram for question 4 and 5 -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Time Spent Histogram
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div style="padding-bottom: 10px;">
                <canvas id="s4_bar" width="300" height="300"></canvas>
              </div>
              <dl class="dl-horizontal">
                <dt>Average:</dt>
                <dd>{{sr.s4.avg | number:2}}</dd>
                <dt>Median:</dt>
                <dd>{{sr.s4.median}}</dd>
                <dt>Max:</dt>
                <dd>{{sr.s4.max}}</dd>
                <dt>Min:</dt>
                <dd>{{sr.s4.min}}</dd>
                <dt>Standard Deviation:</dt>
                <dd>{{sr.s4.std | number:2}}</dd>
              </dl>
            </div>
            <div class="col-sm-12 col-md-6">
              <div style="padding-bottom: 10px;">
                <canvas id="s5_bar" width="300" height="300"></canvas>
              </div>
              <dl class="dl-horizontal">
                <dt>Average:</dt>
                <dd>{{sr.s5.avg | number:2}}</dd>
                <dt>Median:</dt>
                <dd>{{sr.s5.median}}</dd>
                <dt>Max:</dt>
                <dd>{{sr.s5.max}}</dd>
                <dt>Min:</dt>
                <dd>{{sr.s5.min}}</dd>
                <dt>Standard Deviation:</dt>
                <dd>{{sr.s5.std | number:2}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- list of comments -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Comments
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <ul uib-pagination total-items="sr.comments.length"
                ng-model="sr.page"></ul>
            </div>
            <div class="col-sm-12"
              ng-repeat="comment in sr.comments | limitTo:10:(sr.page-1)*10 track by $index">
              <div class="panel panel-default">
                <div class="panel-body">
                  {{comment}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
