<div class="row">

  <!-- list of comments -->
  <div class="col-sm-12" ng-repeat="comment in lc.comments">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ ::comment.author.id == lc.uid ? lc.alias : comment.author.name}}
        <span class="pull-right">
          {{::lc.humanizeComment(comment.updated_at)}}
        </span>
      </div>
      <div class="panel-body">
        {{::comment.body}}
      </div>
    </div>
  </div>

  <!-- New comment textbox -->
  <div class="col-sm-12" ng-if="lc.is_auth">
    <textarea class="form-control" maxlength="512"
      ng-model="lc.new_comment" rows="3"></textarea>
    <div class="text-right" style="padding-top: 10px;">
      <a class="btn btn-success" ng-click="lc.postComments()">Leave a comment</a>
    </div>
  </div>
</div>
