<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <!-- Lab name and description-->
    <h3>{{::li.lab.name}}</h3>
    <div class="thumbnail" style="padding: 10px">
      <p>{{::li.lab.description}}</p>
    </div>

    <!-- Lab preview -->
    <h3>Preview</h3>
    <div class="row">
      <div class="col-sm-12">
        <iframe height="400px" width="100%"
          src="{{li.prefix+li.lab.path}}"></iframe>
      </div>
    </div>

    <!-- GitLab repository urls -->
    <h3>Access</h3>
    <div class="row">
      <div class="col-sm-12">
        <p>Clone this repository via HTTPS</p>
        <div class="well">
          git clone {{::li.lab.http_url_to_repo}}
        </div>
        <p>Clone this repository via SSH</p>
        <div class="well">
          git clone {{::li.lab.ssh_url_to_repo}}
        </div>
      </div>
    </div>

    <!-- Show link to solutions page -->
    <h3 ng-if="li.permissions.solutions">Solutions</h3>
    <a class="btn btn-primary"
      ui-sref="solutions({id:li.project_id,solution:li.solutions_project_id})"
      ng-if="li.permissions.solutions">Access Solutions</a>

    <!-- Survey -->
    <h3>Survey</h3>
    <a class="btn btn-primary" ui-sref="survey_token({id:li.project_id})"
      ng-if="li.permissions.survey">Survey Tokens</a>
    <a class="btn btn-primary" ui-sref="survey_export({id:li.project_id,feedback:li.feedback_project_id})"
      ng-if="li.permissions.survey">Export Survey Result</a>
    <a class="btn btn-primary"
      ui-sref="survey_result({id:li.project_id})">Survey Result</a>

    <!-- Lab comments -->
    <h3>Comments</h3>
    <lab-comments ng-if="li.loading.issue" ids="li.ids"></lab-comments>

  </div>

</div>
