<div class="row">

  <div class="col-sm-12 col-md-8 col-md-offset-2">

    <a class="btn btn-link" ui-sref="lab({id:ls.project_id})">Return</a>

    <!-- Solutions project name and description -->
    <h3>{{::ls.solution.name}}</h3>
    <div class="thumbnail" style="padding: 10px">
      <p>{{::ls.solution.description}}</p>
    </div>

    <!-- GitLab repository urls-->
    <h3>Access</h3>
    <div class="row">
      <div class="col-sm-12">
        <p>Clone this repository via HTTPS</p>
        <div class="well">
          git clone {{::ls.solution.http_url_to_repo}}
        </div>
        <p>Clone this repository via SSH</p>
        <div class="well">
          git clone {{::ls.solution.ssh_url_to_repo}}
        </div>
      </div>
    </div>

  </div>

</div>
