<div class="row">

  <!-- Left side Nav-->

  <div class="col-md-3">

    <!-- Search-->
    <div class="input-group" style="padding-bottom: 15px;">
      <input type="text" class="form-control" ng-model="cc.search"
        maxlength="128"
        placeholder="Search" aria-describedby="search-icon">
      <span class="input-group-addon" id="search-icon">
        <i class="fa fa-search fa-fw"></i>
      </span>
    </div>

    <!-- Tags -->
    <ul class="list-group">
      <li class="list-group-item" ng-click="cc.selectedTag=''">
        All
      </li>
      <li class="list-group-item" ng-repeat="tag in cc.tags"
        ng-click="cc.selectedTag = tag" style="cursor: pointer;">
        {{tag}}
      </li>
    </ul>

    <!-- Activity Feed -->
    <news-feed></news-feed>

  </div>

  <!-- Catalog -->

  <div class="col-md-9">

    <div class="row">
      <div class="col-sm-12" ng-repeat="lab in cc.labs | filter:cc.search | filter:cc.tagFilter">
        <div class="thumbnail">
          <div class="caption">
            <h4><a ui-sref="lab({id:lab.id})">{{lab.name}}</a></h4>
            <p>{{lab.description}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
