<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Hamburger menu on small screens and brand -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- back to main catalog -->
      <a class="navbar-brand" ui-sref="catalog"
        href="#">Exchange Platform</a>
    </div>

    <div class="collapse navbar-collapse">
      <!-- Top header navigation items -->
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="catalog" href="#">Home</a>
        </li>
        <li>
          <a ui-sref="help" href="#">Help</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <!-- show login button if you arent authenticated -->
        <li ng-if="!hc.user">
          <a ng-if="!hc.form" ng-click="hc.form=true" style="cursor:pointer;">Login</a>
        </li>
        <!-- if you are authenticated show name and logout-->
        <li ng-if="hc.user">
          <a>{{hc.user.name}}</a>
        </li>
        <li ng-if="hc.user">
          <a ng-click="hc.logout()">Logout</a>
        </li>
      </ul>
      <!-- authentication form -->
      <form class="navbar-form navbar-right" ng-if="hc.form">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control"
            maxlength="128" ng-model="hc.username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control"
            maxlength="128" ng-model="hc.password">
        </div>
        <button type="submit" class="btn btn-primary"
          ng-click="hc.login()">Sign in</button>
        <button class="btn btn-link btn-sm" ng-click="hc.form=false">
          <i class="fa fa-fw fa-close"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
