<h3 id="can-i-post-comments-on-the-labs-">Can I post comments on the labs?</h3>
<p>Yes, first you need to login using your <a href="http://ilabxp2.net.in.tum.de:9080/">GitLab</a> credentials. Use <code>username</code> instead of email address.</p>
<h3 id="how-do-i-checkout-a-lab-">How do I checkout a lab?</h3>
<p>Go to the lab page from the catalog and scroll down to <em>Access</em>.</p>
<p>Clone the repository via HTTPS or SSH</p>
<pre><code>// https
git clone http://ilabxp2.net.in.tum.de:9080/ilab_labs/IN001_iLab1.git

// ssh
git clone git@ilabxp2.net.in.tum.de:ilab_labs/IN001_iLab1.git
</code></pre><p>Access to <a href="http://ilabxp2.net.in.tum.de:9080/">GitLab</a> is required to checkout the projects.</p>
<h3 id="how-do-i-checkout-the-solutions-">How do I checkout the solutions?</h3>
<p>The solutions to each lab is stored in a separate project. Access to the solutions in GitLab is required. Login with your GitLab credentials from top right navigation.</p>
<p>For the solutions, go to the directory where the lab is cloned from Git. Create a new directory <code>withSolutions</code> inside <code>data</code> directory. Navigate to this directory and clone the solutions project.</p>
